# Dependencies
node_modules/

# Build output
dist/
.next/
out/
build/

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Prisma
prisma/migrations/dev.db*

# Coverage
coverage/
